.header{
    content: "";
    background-color: rgb(39, 38, 38);
    padding: 10px;
}
/* .header{
   
    background-color: rgb(39, 38, 38);

} */
a{
    text-decoration: none;
    color: rgb(139, 137, 137);
}

h1 ::after
{
    content: Recent work;
    color: gray;
    position: absolute;
    left: 30%;
    display: inline;
}