*{
    margin:0;
    
}
body{
    margin:20px 40px 20px 40px
}
html,body{
    margin-left: 20%;
    width: 700px;
}
.employment,.education,header{
    border-bottom:  1px solid black;
}


span{
    font-weight: bold;
}
.skills p,h3+p{
   margin-bottom: 2rem;
}
.employment,.education,.skills{
    margin-top: 14px;
}
.skills ::after{
    border-bottom:  1px solid black;

}